<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Collage - IITM Exchange 2023 - 2024</title>
</head>
<body class="bg-gray-100 text-gray-800">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://unpkg.com/primevue/umd/primevue.min.js"></script>
    <script src="https://unpkg.com/@primeuix/themes/umd/aura.js"></script>

    <div id="app" class="max-w-5xl mx-auto p-4">
        <header class="bg-gray-100 py-6 px-4 mb-4 text-center border-b-1 border-gray-300">
            <h1 class="text-3xl font-bold mb-2 cursor-pointer hover:text-blue-600 transition"
            @click="resetFilters"
            >
            Food Collage - IITM Exchange 2023 - 2024
            </h1>
            <p class="text-gray-700 max-w-2xl mx-auto">
                A collage for (almost) all food I had during my exchange program from 2023 July to 2024 May in Indian Institute of Technology, Madras. (IITM)
            </p>
        </header>
        <!-- Filters -->
        <div class="flex flex-wrap justify-between items-center gap-2 mb-4">
            <!-- Left: Select filters -->
            <div class="flex flex-col gap-4 w-full">
                <div class="flex items-center gap-2">
                    <label class="min-w-[120px] font-semibold" for="meals">Meals</label>
                    <multiselect
                        id="meals"
                        v-model="selectedMeals"
                        :options="meals"
                        filter
                        placeholder="Select meals"
                        class="w-full"/>
                </div>

                <div class="flex items-center gap-2">
                    <label class="min-w-[120px] font-semibold" for="categories">Categories</label>
                    <multiselect
                        id="categories"
                        v-model="selectedCategories"
                        :options="categories"
                        filter
                        placeholder="Select categories"
                        class="w-full"
                    />
                </div>

                <div class="flex items-center gap-2">
                    <label class="min-w-[120px] font-semibold" for="weekdays">Weekdays</label>
                    <multiselect
                        id="weekdays"
                        v-model="selectedWeekdays"
                        :options="weekdays"
                        filter
                        placeholder="Select weekdays"
                        class="w-full"
                    />
                </div>

                <div class="flex items-center gap-2">
                    <label class="min-w-[120px] font-semibold" for="months">Months</label>
                    <multiselect
                        id="months"
                        v-model="selectedMonths"
                        :options="months"
                        optionLabel="name"
                        filter
                        placeholder="Select months"
                        class="w-full"
                    />
                </div>

                <div class="flex justify-between items-center gap-2 mb-4">
                    <div class="flex gap-2 items-center">
                        <div class="flex items-center">
                            <p-checkbox v-model="onlyWithMemo" binary/>
                        </div>
                        <div class="font-semibold">
                            Only with memo (special event)
                        </div>
                    </div>
                    <!-- Right: Reset Button -->
                    <button
                        @click="resetFilters"
                        class="px-4 py-2 border-emerald-500 border-2 rounded-lg text-emerald-500 cursor-pointer hover:bg-emerald-500 hover:text-white transition duration-100"
                    >
                        Reset
                    </button>
                </div>
            </div>
        </div>


        <p class="mt-2 text-sm text-gray-600 mb-4">
            Showing {{ filteredPhotos.length }} photo<span v-if="filteredPhotos.length !== 1">s</span>
        </p>
        <div
        class="grid"
        :class="[
            gapClass
        ]"
        :style="`grid-template-columns: repeat(${columnCount}, minmax(0, 1fr));`"
        >
            <div
                class="aspect-square overflow-hidden cursor-pointer"
                :class="[roundClass]"
                v-for="item in filteredPhotos"
                :key="item.filename"
                @click="showPhoto(item)"
            >
                <img
                class="w-full h-full object-cover transition-transform duration-200 hover:scale-105"
                :src="'photos/'+ imageSize + '/' + item.filename"
                :alt="item.memo"
                />
            </div>
        </div>

        <!-- Modal -->
        <div
        v-if="selectedPhoto"
        class="fixed inset-0 bg-black bg-opacity-80 flex items-center justify-center z-50"
        @click.self="selectedPhoto = null"
        >
            <div class="bg-white rounded pt-12 p-6 max-w-screen-sm w-full relative">
                  <!-- Close "X" at top-right -->
                <button
                    @click="selectedPhoto = null"
                    class="absolute top-2 right-3 text-gray-400 hover:text-gray-900 text-xl font-semibold focus:outline-none cursor-pointer"
                    aria-label="Close modal"
                >
                    &times;
                </button>
                <div class="relative aspect-[4/3] w-full max-h-[80vh]">
                    <!-- Low-quality image as fallback or blur -->
                    <img
                        :src="'photos/small/' + selectedPhoto.filename"
                        class="absolute w-full h-full object-contain mb-4 rounded-xl blur-sm"
                    />
                    <!-- High-quality image loaded lazily -->
                    <img
                        :src="'photos/large/' + selectedPhoto.filename"
                        class="relative w-full h-full object-contain mb-4 rounded-xl transition-opacity duration-300"
                        @load="highResLoaded = true"
                        :class="{ 'opacity-0': !highResLoaded, 'opacity-100': highResLoaded }"
                    />
                </div>
                <div class="text-center">
                    <p class="text-lg font-medium mb-2">{{ selectedPhoto.memo }}</p>
                    <p class="text-sm text-gray-600 mb-1">{{ selectedPhoto.meal }} | {{ selectedPhoto.category }}</p>
                    <p class="text-xs text-gray-400">{{ formatDate(selectedPhoto.created_at) }}</p>
                </div>

            </div>
        </div>
        <footer class="bg-gray-100 text-center text-sm text-gray-600 py-4 mt-8">
            <p>Contact: river1440@gmail.com | 
                <a href="https://github.com/river1440/food-collage-iitm-exchange-2024" class="text-blue-500 hover:underline" target="_blank">
                GitHub Repo
                </a>
            </p>
            <p class="mt-1">&copy; 2025 river1440. All rights reserved.</p>
        </footer>
    </div>
    <script>
        const { createApp, ref, computed, onMounted } = Vue;

        const app = createApp({
            setup() {
                const photos = ref([]);

                // Filter
                const selectedMeals = ref([]);
                const selectedCategories = ref([]);
                const selectedWeekdays = ref([]);
                const selectedMonths = ref([]);
                const onlyWithMemo = ref(false);
                const highResLoaded = ref(false);

                // Modal
                const selectedPhoto = ref(null);    

                const meals = computed(() => {
                return [...new Set(photos.value.map(p => p.meal))];
                });

                const categories = computed(() => {
                return [...new Set(photos.value.map(p => p.category))];
                });

                const weekdays = computed(() => {
                return [...new Set(photos.value.map(p => p.weekday))];
                });

                const months = computed(() => {
                return [...new Set(photos.value.map(p => p.month))];
                });

                const filteredPhotos = computed(() => {
                    if (
                            selectedCategories.value.length === 0 ||
                            selectedMeals.value.length === 0 ||
                            selectedWeekdays.value.length === 0 ||
                            selectedMonths.value.length === 0
                        ) {
                            return []; // no results if any filter empty
                        }

                    return photos.value.filter(p => {
                        const mealMatch = selectedMeals.value.includes(p.meal);
                        const categoryMatch = selectedCategories.value.includes(p.category);
                        const weekdayMatch = selectedWeekdays.value.includes(p.weekday);
                        const monthMatch = selectedMonths.value.includes(p.month);
                        const memoMatch = !onlyWithMemo.value || (p.memo && p.memo.trim() !== "")
                        
                        return mealMatch && categoryMatch && weekdayMatch && monthMatch && memoMatch;
                    });
                });

                // Layout
                const columnCount = computed(() => {
                    const n = Math.ceil(Math.sqrt(filteredPhotos.value.length || 1));
                    return Math.max(n, 4); // at least 4 columns
                });

                // Less gap when more columns
                const gapClass = computed(() => {
                    if (columnCount.value <= 8) return 'gap-4';
                    if (columnCount.value <= 16) return 'gap-2';
                    return 'gap-1';
                });

                const roundClass = computed(() => {
                    if (columnCount.value <= 8) return 'rounded-2xl';
                    if (columnCount.value <= 16) return 'rounded-lg';
                    return 'rounded-md';
                });

                const imageSize = computed(() => {
                    return columnCount.value <= 12 ? 'medium' : 'small';
                });

                const showPhoto = (photo) => {
                    selectedPhoto.value = photo;

                    // Ensure reloading photo
                    highResLoaded.value = false
                };

                const resetFilters = () => {
                    selectedCategories.value = [...categories.value];
                    selectedMeals.value = [...meals.value];
                    selectedWeekdays.value = [...weekdays.value];
                    selectedMonths.value = [...months.value];
                    onlyWithMemo.value = false;
                };

                function formatDate(timestamp) {
                    const options = {
                        weekday: "short",
                        year: "numeric",
                        month: "short",
                        day: "2-digit",
                        hour: "2-digit",
                        minute: "2-digit",
                        second: "2-digit",
                        hour12: false
                    }
                    return new Date(timestamp).toLocaleDateString("en-US", options).replace(/,/g, '');
                }


                onMounted(async () => {
                    const res = await fetch('photo_metadata.json');
                    photos.value = await res.json();
                    selectedCategories.value = [...categories.value];
                    selectedMeals.value = [...meals.value];
                    selectedWeekdays.value = [...weekdays.value];
                    selectedMonths.value = [...months.value];
                });

                return {
                    photos,
                    highResLoaded,
                    onlyWithMemo,
                    selectedMeals,
                    selectedCategories,
                    selectedWeekdays,
                    selectedMonths,
                    selectedPhoto,
                    meals,
                    categories,
                    weekdays,
                    months,
                    filteredPhotos,
                    columnCount,
                    gapClass,
                    roundClass,
                    imageSize,
                    showPhoto,
                    resetFilters,
                    formatDate,
                };
            }
        });

      app.use(PrimeVue.Config, {
        theme: {
            preset: PrimeUIX.Themes.Aura
        }
      });

      app.component('multiselect', PrimeVue.MultiSelect);
      app.component('p-checkbox', PrimeVue.Checkbox);

      app.mount('#app');
    </script>
</body>
</html>